body {
    background-image: url('bg.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-width: fit-content;
}

#uniq {
    color: #ffffff;
    font-size: large;
    padding: auto;
}
#ch {
    color: #ffffff;
    font-size: large;
    padding: auto;
}
.para {
    color: #ffffff;
    font-family: calibri;
    font-size: 30px;
    border: 1px solid white;
    padding-left: 50%;
}
a {
    color: #ffffff;
    font-family: calibri;
    font-size: 40px;
}
.fr {
    height: 500px;
    width: 800px;
}